<form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" aria-describedby="nameHelp" placeholder="Enter Name" [(ngModel)]="product.name">
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" name="price" placeholder="Enter Price" [(ngModel)] ="product.price">
    </div>
    <div class="form-group">
        <label for="description">Price</label>
        <input type="text" class="form-control" name="description" placeholder="Enter Description" [(ngModel)]="product.description">
      </div>
    <button  class="btn btn-success" (click)="sendAddProduct()">Add</button>
  </form>
